.THIS .slds-accordion__summary-heading > button > span.slds-truncate {
	    display: flex;
    align-items: center;
    background: rgb(213, 228, 241);
    cursor: pointer;
    width: 100%;
    text-align: left;
    
    font-size: inherit;
    padding: 0.5rem;
   
}