<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!--  																										-->
<!-- Schedule Payments On Opportunity																		-->
<!-- S-control written for use with Salesforce.com															-->
<!-- 		This script is used to build "scheduled" installment payments on a closed/won Opp. 		-->
<!--																										-->
<!-- Copyright 2012, Linvio, Inc.	            															-->
<!--																										-->
<!-- Deprecated 4/2013 - replaced with the visualforce installment payments terminal -->
<html>
<head>
<title>Schedule Installment Payments(Deprecated)</title>
</head>
<body >
<h2>Deprecated</h2>
<p>This s-control has been deprecated.  Please use the Installment Payments visualforce page included with PaymentConnect.</p>
</body>
</html>