<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head> 
</head>
<body scroll="no" >
<p>This custom S-Control has been replaced with a Visualforce interface.  Please consult your PaymentConnect configuration guide for the current recommended Payment page layout.</p>
</body>
</html>