<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
 
</head>

<body> 

<h1>Page Deprecated</h1>
<p>This page has been deprecated.  Please use the VisualForce payment terminal page.</p>


</body>
</html>