.THIS .level-col-1{
    padding-right: 15px;
}

.THIS .level-col-2{
   padding-right: 30px;
}

.THIS.level-row-0{
    background-color: #d5ddf3;
}

.THIS.level-row-1{
    background-color: #eff4fc;
}

.THIS.level-row-2{
    background-color: #f3feff;
}

.THIS .fieldLabel  {
    font-weight: bold;
}