<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>true</allowInternalUserLogin>
    <allowMembersToFlag>false</allowMembersToFlag>
    <changePasswordTemplate>Communities_Emails/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <communityRoles/>
    <disableReputationRecordConversations>false</disableReputationRecordConversations>
    <emailSenderAddress>nfrates@andersonadvisors.com</emailSenderAddress>
    <emailSenderName>Anderson Business Advisors</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>true</enableDirectMessages>
    <enableExperienceBundleBasedSnaOverrideEnabled>true</enableExperienceBundleBasedSnaOverrideEnabled>
    <enableGuestChatter>false</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableGuestMemberVisibility>false</enableGuestMemberVisibility>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableShowAllNetworkSettings>false</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>true</enableTopicAssignmentRules>
    <enableTopicSuggestions>false</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>Communities_Emails/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <networkMemberGroups>
        <profile>admin</profile>
        <profile>renewal advisor - bcp - community</profile>
        <profile>service - community</profile>
        <profile>bookkeeping - community</profile>
        <profile>processing - community</profile>
        <profile>executive - community</profile>
        <profile>professional advisor - community</profile>
        <profile>advisor - community</profile>
        <profile>advisor admin - community</profile>
        <profile>renewals processing - community</profile>
        <profile>tax - community</profile>
        <profile>quality assurance</profile>
        <profile>sales</profile>
        <profile>manager</profile>
        <profile>minimum access - salesforce</profile>
        <profile>sr.admin-additional refund access</profile>
        <profile>tax manager</profile>
        <profile>jr. admins</profile>
        <profile>b2bma integration user</profile>
        <profile>events</profile>
        <profile>mail</profile>
        <profile>ceo &amp; partners</profile>
        <profile>magentrix admin</profile>
        <profile>chatter moderator user</profile>
        <profile>contractmanager</profile>
        <profile>marketingprofile</profile>
        <profile>solutionmanager</profile>
        <profile>read only</profile>
        <profile>standard</profile>
        <profile>chatter free user</profile>
        <profile>external user - reduced access - community</profile>
        <profile>accounting coordinator - community</profile>
        <profile>estate planning - community</profile>
        <profile>qa - community</profile>
        <profile>assivo - lucidchart conversion</profile>
        <profile>service - lex</profile>
        <profile>renewal advisor bcp lex</profile>
        <profile>events - community</profile>
        <profile>anderson university(lex)</profile>
        <profile>integration-specialist(lex)</profile>
        <profile>advisor-admin(lex)</profile>
        <profile>processing - lex</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>Standard</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Anderson_Internal1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Anderson_Internal</site>
    <siteArchiveStatus>NotArchived</siteArchiveStatus>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>aba</urlPathPrefix>
    <welcomeTemplate>Communities_Emails/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
