.THIS.anchor {
    position: relative;
    display: inline-block;
}
.THIS .popoverclass1 {
  position: absolute;
   opacity: 1.0;
    display:block;
}
.THIS .popoverclass2 {
    min-height: 500px;
   opacity: 1.0;
    display:block;
}
.THIS .popoverclass3 {
    min-height: 500px;
   opacity: 1.0;
    display:block;
}
.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}