.THIS.anchor {
    position: relative;
    display: inline-block;
}
.THIS .popoverclass1 {
  position: absolute;
   opacity: 1.0;
    display:block;
}
.THIS .popoverclass2 {
    min-height: 500px;
   opacity: 1.0;
    display:block;
}
.THIS .popoverclass3 {
    min-height: 500px;
   opacity: 1.0;
    display:block;
}
.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    text-align: right;
}

.THIS .custom-class{
    padding:13px !important;
    
}
.THIS .custom-class .slds-size_3-of-12, 
.THIS .custom-class .slds-size--3-of-12 {
    width: 175px;
}
.THIS .custom-class svg.slds-icon{
    width:8px;
    bottom: 4px;
    position: relative;
}
.THIS .custom-class .slds-icon_container{
    height:8px;
    position: relative;
    top: 3px;
}
.THIS .slds-card__body.slds-grid.slds-wrap.anchor.slds-text-align--left a{
        border-bottom: 1px dotted;
}
.THIS .slds-card__header {
    padding: var(--lwc-varSpacingVerticalSmall,0.75rem) var(--lwc-varSpacingHorizontalMedium,1rem) 0;
    margin: 0 0 var(--lwc-varSpacingVerticalSmall,0.75rem);
}
.THIS .slds-card{
     position:inherit !important;
}
.THIS .slds-card__body{
     padding:1em;
}
.THIS .slds-popover.slds-nubbin_bottom.slds-popover_full-width.slds-show {
    position:absolute;
    top: -8em;
}
.THIS lightning-icon.slds-icon_container.slds-icon-custom-custom3{
    margin-top: 1.2em;
}
                
.THIS lightning-icon.slds-icon_container.slds-icon-custom-custom6{
    margin-top: 1.2em;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS button:hover + .slds-popover.slds-hide {
            display : block!important;
}
.THIS .no-pointer.pointer{
                    visibility:hidden;
}
.THIS.popoverPosition {
    position : absolute;
}
.THIS .slds-grid.slds-wrap.anchor.slds-text-align--left a{
                    border-bottom: 1px dotted;
}              

.THIS .slds-popover__body {
    max-height: 100%;
    overflow: hidden;  
    width: 100%;
    border-radius: .15rem;
    background-color: #fff;
    display: inline;
}
.THIS.gpopover {
                    
    background-color: #FFF;
    border: 1px solid #CCC;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: none;
    padding: 12px;
    position: absolute;
    z-index: 998;
	width: 90%;
}

.THIS.gpopover .gpopover-arrow {
    border: 8px solid transparent;
    border-bottom-color: #FFF;
    border-top-width: 0;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 999;
}

.THIS.gpopover .gpopover-arrow-shadow {
    border: 8px solid transparent;
    border-bottom-color: #C0C0C0;
    border-bottom-color: rgba(0, 0, 0, 0.275);
    border-top-width: 0;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 997;
}
.THIS .fl-right {
  
    float:right;     
     
}
                
.THIS .slds-table_header-fixed_container {
     overflow-x: auto;       
}